
/************************************************************************
 --------------------------COOKIE-CONSENT--------------------------------
 ************************************************************************/
/* CSS pour positionner le popup en bas de la page */
.centered-popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0; /* Positionne le popup en bas */
    margin: auto;
    width: 100%; /* Ajustez la largeur du popup selon vos besoins */
    height: 100%; /* La hauteur s'ajustera automatiquement au contenu */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/* Style du contenu du popup */
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Style des boutons */
#accept-cookies,
#refuse-cookies {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Couleur de fond bleue */
    color: #fff; /* Texte en blanc */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#refuse-cookies {
    background-color: #dc3545; /* Couleur de fond rouge */
}

.hidden-popup {
    display: none;
}

/************************************************************************
 --------------------------------HEADER--------------------------------
 ************************************************************************/

.site-header {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: var(--spacing-large) var(--spacing-none);
    text-align: center;

    /* @media screen {
        
    }*/
}

.header-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0 20px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 150px;
}

.strong-title {
    color: var(--color-success);
    font-size: var(--text-extralarge);
}
.strong-title:hover {
    color: var(--color-primary);
}

.strong-title-cv {
    color: var(--color-primary);
    font-size: var(--text-extralarge);
}
.strong-title-cv:hover {
    color: var(--color-success);
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header-nav ul li {
    margin-bottom: 20px; 
}

.header-nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: var(--text-medium);
    color: var(--color-text);
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 1s ease-in-out, color 0.6s ease-in-out; 
}

.header-nav ul li a:hover {
    border-color: var(--color-primary);
    color: var(--color-primary); 
}

 ul li a.disconnect:hover {
    border-color: var(--color-delete);
    color: var(--color-delete); 
}

.name-connect {
    font-size: var(--text-large);
    color: var(--color-text); 
    font-weight: bold; 
    text-decoration: underline; 
    text-decoration-color: var(--color-success); 
}

.column-list {
    padding: var(--spacing-medium);
    border: 2px solid var(--color-primary);
    border-radius: var(--spacing-medium);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.column-list span,
.column-list a {
    margin: 5px 0;
}

nav.header-nav ul li a.active {
    border: 2px solid var(--color-success); 
    color: var(--color-muted);
}

main {
    border: 2px solid var(--color-success);
    background-color: var(--color-muted);
}

.site-margin  {
    background-color: var(--color-text);
    margin: var(--spacing-none) var(--spacing-large);
    border-radius: var(--spacing-medium);
}

/************************************************************************
 ------------------------------HOME------------------------------------
 ************************************************************************/
.hero {
    text-align: center;
    padding: 100px 0;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.hero h1 {
    font-size: var(--spacing-extralarge);

}

.hero p {
    font-size: var(--spacing-large);
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--color-text);
    color: var(--color-primary);
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s;
}

.cta-button:hover {
    background-color: var(--color-success);
    color: var(--color-text);
}

/* Style des sections de fonctionnalités */
.features {
    padding: 60px 0;
}

.feature {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature h2 {
    font-size: 24px;
}

.feature p {
    font-size: 16px;
}

/* Style de la section Témoignage */
.testimonial {
    text-align: center;
    padding: 60px 0;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.testimonial blockquote {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.testimonial p {
    font-size: 18px;
    margin-top: 10px;
}

/* Style de la section Commencez Maintenant */
.start-now {
    text-align: center;
    padding: 60px 0;
    background-color: #fff;
    color: #333;
}

/* Style de la section À Propos */
.about {
    text-align: center;
    padding: 60px 0;
    background-color: var(--color-text);
    color: var(--color-background);
}

.follow-us {
    text-align: center;
    padding: 60px 0;
    background-color: #3a8dff;
    color: #fff;
}

.social-icon {
    font-size: 36px;
    margin: 0 15px;
    color: #fff;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #f0f0f0;
}

/* Style des emojis */
.emoji {
    font-size: 36px;
    margin-bottom: 10px;
}

/************************************************************************
 ------------------------------LOGIN------------------------------------
 ************************************************************************/
.input-container {
    width: 50%; /* Ajustez la largeur selon vos besoins */
    margin: var(--spacing-none) auto; /* Centrez le conteneur horizontalement */
}
/* Styles pour la section de connexion */
.login {
    background-color: var(--color-text);
    border: 3px solid var(--color-primary);
    border-radius: var(--spacing-medium);
    padding: var(--spacing-medium);
    text-align: center;
}

.login h2 {
    color: var(--color-primary);
    font-size: var(--text-extralarge);
    margin-bottom: var(--spacing-medium);
}

.login label {
    color: var(--color-background);
    display: block;
    margin-bottom: var(--spacing-small);
}

.login input[type="text"],
.login input[type="password"] {
    background-color: var(--color-text);
    color: var(--color-background);
    border: 1px solid var(--color-primary);
    padding: var(--spacing-small);
    margin: var(--spacing-small) 0;
    border-radius: var(--spacing-small);
    width: 100%;
    text-align: center;
}

.login input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    margin: var(--spacing-medium) 0;
    border-radius: var(--spacing-small);
    cursor: pointer;
    font-size: var(--text-medium);
    transition: background-color 0.3s ease;
}


.login input[type="submit"]:hover {
    background-color: var(--color-success);
}

.login .message {
    text-align: center;
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small);
    font-size: var(--text-medium);
}

.login .success {
    color: var(--color-success);
    font-weight: bold;
}

.login .error {
    color: var(--color-delete);
    font-weight: bold;
}
.login p {
    color: var(--color-background);
}
.login a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
}

.login a:hover {
    color: var(--color-success);
}
/************************************************************************
 ------------------------------REGISTER---------------------------------
 ************************************************************************/
/* Styles pour la section d'inscription */
.register {
    background-color: var(--color-text);
    border: 3px solid var(--color-primary);
    border-radius: var(--spacing-medium);
    padding: var(--spacing-medium);
    text-align: center;
}

.register h2 {
    color: var(--color-primary);
    font-size: var(--text-extralarge);
    margin-bottom: var(--spacing-medium);
}

.register label {
    color: var(--color-background);
    display: block;
    margin-bottom: var(--spacing-small);
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
    background-color: var(--color-text);
    color: var(--color-background);
    border: 1px solid var(--color-primary);
    padding: var(--spacing-small);
    margin: var(--spacing-small) 0;
    border-radius: var(--spacing-small);
    width: 100%;
    text-align: center; /* Pour centrer le texte */
}

.register input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    margin: var(--spacing-medium) 0;
    border-radius: var(--spacing-small);
    cursor: pointer;
    font-size: var(--text-medium);
    transition: background-color 0.3s ease;
}

.register input[type="submit"]:hover {
    background-color: var(--color-success);
}

.register .error {
    color: var(--color-delete);
    font-weight: bold;
}

.register a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
}

.register a:hover {
    color: var(--color-success);
}


/************************************************************************
 ------------------------------FOOTER------------------------------------
 ************************************************************************/

.site-footer {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 150px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
}

.footer-social a {
    color: var(--color-muted);
    font-size: 44px;
    margin: 0 10px;
}

.footer-social a:hover {
    color: var(--color-primary);
}

.back-to-top {
    color: var(--color-muted);
    text-decoration: none;
    margin-top: 20px;
}

.footer-text {
    margin-bottom: 20px;
}

.footer-text p {
    font-size: var(--text-small);
}



